.about-us {
  position: relative;

  @include respond-to(md) {
    padding-bottom: 25px;
  }

  &:before {
    position: absolute;
    bottom: 0;
    left: -95px;

    display: block;

    width: 17px;
    height: 17px;

    content: '';

    border-radius: 100%;
    background-color: $text-color-orange;

    @include respond-to(md) {
      bottom: 15px;
    }
    @include respond-to(sm) {
      left: 15px;
    }

    @media(max-width: 1440px) {
      left: -15px;
    }
  }

  &:after {
    position: absolute;
    right: -95px;
    bottom: 0;

    display: block;

    width: 17px;
    height: 17px;

    content: '';

    border-radius: 100%;
    background-color: $text-color-orange;

    @include respond-to(md) {
      bottom: 15px;
    }
    @include respond-to(sm) {
      right: 15px;
    }

    @media(max-width: 1440px) {
      right: -15px;
    }
  }

  &__heading {
    margin-bottom: 75px;
    padding-top: 240px;

    @include respond-to(lg) {
      padding-top: 0;
    }
    @include respond-to(md) {
      display: block;

      margin-bottom: 50px;

      text-align: center;
    }
  }

  &__link {
    transition: all ease-in .1s;
    text-decoration: underline;

    color: $text-color-green-dark;

    &:hover {
      color: white;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &__img {
    position: relative;

    width: 100%;
    height: auto;

    &--seal {
      top: -30px;
      right: -125px;

      max-width: 343px;

      @include respond-to(lg) {
        top: auto;
        right: auto;

        display: block;

        margin-top: 65px;
        margin-right: 20px;
        margin-left: auto;
      }
      @include respond-to(md) {
        margin: 0 auto 0;
      }

      @media (max-width: 1440px) {
        right: -60px;
      }
    }

    &--logo {
      display: block;

      margin: auto;
      margin: 70px auto 43px;
      padding-left: 137px;

      text-align: center;

      @include respond-to(md) {
        margin: 30px auto 60px;
        padding-left: 0;
      }
    }
  }

  &__paragraph {
    margin: 0;
    margin-bottom: 75px;

    text-transform: uppercase;

    color: $text-color-green-dark;

    font-family: $ff-circe;
    font-size: 22.5px;
    font-weight: 500;
    line-height: 2;

    &-line {
      display: block;

      @include respond-to(lg) {
        display: inline-block;
      }
    }
  }

  &__footnote {
    margin: 0;
    margin-bottom: 25px;

    text-align: center;

    color: $text-color-green-dark;

    font-family: $ff-circe;
    font-size: 22.5px;
    font-weight: 400;
    line-height: 45px;
    line-height: 1.2;


    &-star {
      position: relative;

      margin-left: -13px;

      &:before {
        content: '*';
      }
    }
  }
}
