@import 'bootfix.scss';

.c-home__logo {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 326px;

  &--footer {
    max-height: 120px;
  }
}

.c-features__img {
  width: 100%;
  max-width: 450px;
  margin: auto;
  height: 270px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.jobs {
  &__list {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    padding-left: 60px;
  }

  &__block {
    margin-bottom: 100px;
  }
}

.c-footer {
  padding-bottom: 80px;
}

.fss-container {
  position: relative;
  background: #343439;
}

.fss {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;

  & canvas {
    width: 100%;
    height: 100%;
  }

  &:before {
    position: absolute;
    top:0;
    left: 0;

    background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0) 50%, rgba(52, 52, 57, 1) 90%);

    width: 100%;
    height: 100%;

    content: '';
  }
}
