.about {
  margin-top: -45px;
  margin-bottom: -250px;

  @include respond-to(md) {
    margin-top: 0;
    margin-bottom: 0;
  };

  &__heading {
    margin-bottom: 108px;

    @include respond-to(md) {
      margin-bottom: 40px;
    }
  }

  &__img {
    margin-top: 12px;
    width: 100%;
    height: auto;
    max-width: 427px;

    @include respond-to(md) {
      display: none;
    }
  }

  &__block {
    display: flex;
    justify-content: center;
  }

  &__paragraph {
    max-width: 510px;
    font-size: 22.5px;
    font-family: $ff-circe;
    font-weight: 500;
    line-height: 2;
    color: $text-color-green-dark;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    margin: 0;
    margin-left: 80px;
    margin-bottom: 50px;

    @include respond-to(md) {
      max-width: 100%;
      margin-left: 0;
      margin-bottom: 10px;
    }
  }

  &__list {
    margin: 0;
    margin-left: 80px;
    padding: 0;

    list-style: none;

    text-transform: uppercase;

    color: $text-color-green-dark;

    font-family: $ff-circe;
    font-size: 22.5px;
    font-weight: 500;

    @include respond-to(md) {
      margin-left: 52px;
    }

    &-item {
      margin-bottom: 22px;
      position: relative;

      &:before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: $text-color-green-light;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        left: -47px;
      }
    }
  }
}
