.features {
  background-color: $bg-contrast-color;
  padding-bottom: 100px;
  padding-top: 70px;
  margin-top: -275px;
  position: relative;
  z-index: 1;
  background-image: url('../assets/imgs/pattern-oldify.png');
  background-repeat: repeat;
  background-size: 100%;
  background-position: center;

  @include respond-to(sm) {
    margin-top: -145px;
  }

  &:before {
    display: block;
    width: calc(100% - 30px);
    height: 100%;
    content: '';
    background-image: url("../assets/imgs/part-one-pattern-sunrise.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    opacity: .4;
    position: absolute;
  }

  &:after {
    content: '';
    display: block;
    background-image: url('../assets/imgs/pattern-waves-yellow.png');
    background-repeat: no-repeat;
    width: 245px;
    height: 291px;
    background-size: 100%;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: -1;
    // opacity: .03;
  }


  &__block {
    &--margin {
      &--wide {
        margin-bottom: 145px;

        @include respond-to(md) {
          margin-bottom: 30px;
        }
      }
    }
  }

  &__heading {
    display: inline-block;
    margin-bottom: 128px;

    @include respond-to(md) {
      margin-bottom: 80px;
    }
  }

  &__img--drinks {
    position: relative;
    left: -28px;
    margin-top: -173px;
    width: 100%;
    height: auto;
    max-width: 533px;

    @include respond-to(lg) {
      margin-top: -140px;
      left: 0;
    }

    @include respond-to(md) {
      left: 50%;
      transform: translateX(-50%);
      margin-top: 0;
    }
  }

  &__img--chairs {
    position: relative;
    left: 7px;
    margin-top: -205px;
    width: 100%;
    height: auto;
    max-width: 535px;

    @include respond-to(lg) {
      margin-top: -115px;
      width: 380px;
    }

    @include respond-to(md) {
      display: none;
    }
  }

  &__paragraph {
    color: $text-color-green-dark;
    text-transform: uppercase;
    font-size: 22.5px;
    line-height: 45px;
    font-family: $ff-circe;
    font-weight: 500;
    text-align: left;
    margin: 0;

    &--position {
      &--first {
        max-width: 485px;
      }

      &--second {
        max-width: 415px;

        @include respond-to(md) {
          max-width: 100%;
        }
      }
    }

    &-line {
      display: block;

      @include respond-to(md) {
        display: inline-block;
      }
    }
  }

  &__emphasis {
    display: block;
    font-size: 37.5px;
    line-height: 60px;
  }
}
