.from-you {
  padding-top: 175px;

  @include respond-to(lg) {
    padding-top: 50px;
  }

  &__block {
    display: flex;
    flex-flow: column nowrap;

    &--align {
      &--right {
        align-items: flex-end;

        @include respond-to(md) {
          align-items: flex-start;
        }
      }
    }
  }

  &__img {
    position: relative;
    right: -57px;
    margin-top: 21px;

    @include respond-to(md) {
      display: none;
    }
  }

  &__heading {
    margin-bottom: 54px;

    @include respond-to(lg) {
      margin-bottom: 100px;
    }

    @include respond-to(md) {
      margin-bottom: 85px;
    }

    @include respond-to(sm) {
      text-align: center;
    }
  }

  &__paragraph {
    max-width: 495px;
    font-size: 22.5px;
    font-family: $ff-circe;
    font-weight: 500;
    line-height: 2;
    color: $text-color-green-dark;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    margin: 0;

    @include respond-to(md) {
      max-width: 100%;
      margin-bottom: 35px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    max-width: 410px;
    position: relative;
    z-index: 0;
    padding-top: 135px;
    padding-left: 108px;
    list-style: none;

    @include respond-to(lg) {
      padding-left: 0;
    }

    @include respond-to(md) {
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
      justify-content: center;

      width: 500px;
      max-width: 100%;
      height: 500px;
      margin: auto;
      padding-top: 0;

      border-radius: 100%;
      background-color: $bg-contrast-color;
      background-image: url('../assets/imgs/pattern-oldify.png');
      background-repeat: repeat;
      background-size: 100%;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 694px;
      height: 496px;
      top: 1px;
      right: -291px;
      background-image: url("../assets/imgs/from-you-list-bg.png");
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      z-index: -1;

      @include respond-to(lg) {
        top: 12px;
        right: -178px;
      }

      @include respond-to(md) {
        display: none;
      }
    }

    &-item {
      font-family: $ff-circe;
      color: $text-color-yellow-light;
      font-size: 22.5px;
      font-weight: 500;
      line-height: 1.3;
      text-align: left;
      text-transform: uppercase;
      margin-bottom: 25px;

      @include respond-to(md) {
        width: 300px;
      }
    }

    &-emphasis {
      display: block;
      font-size: 41px;
      line-height: 100%;
    }
  }
}
