.whom {
  padding-top: 27px;

  &__heading {
    display: inline-block;

    @include respond-to(lg) {
      margin-bottom: 80px;
    }
  }

  &__block {
    &--position {
      &--second {
        margin-top: -45px;

        @include respond-to(lg) {
          margin-top: 0;
        }
      }
      &--third {
        margin-top: 103px;
        margin-bottom: 108px;

        @include respond-to(lg) {
          margin-top: 50px;
          margin-bottom: 25px;
        }
      }
    }
  }

  &__img {
    display: block;
    margin-top: 85px;
    position: relative;
    left: 23px;

    @include respond-to(lg) {
      display: none;
    }
  }

  &__speaker {
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    @include respond-to(lg) {
      margin-bottom: 10px;
      width: 33.33%;
    }

    @include respond-to(sm) {
      width: 50%;
    }

    &s {
      list-style: none;
      margin: 0;
      padding: 0 30px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;

      @include respond-to(lg) {
        justify-content: space-around;
      }
    }

    &-img {
      border-radius: 100%;

      display: block;
      width: auto;
      height: auto;
    }

    &-name {
      font-family: $ff-circe;
      font-weight: 500;
      color: $text-color-green-dark;
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;

      .whom__speaker--unknown & { display: none; }
    }
  }

  &__img-container {
    position: relative;

    &:after {
      content: '?';
      display: none;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-color: rgb(87, 71, 55);
      background-image: url('../assets/imgs/pattern-oldify.png');
      top: 0;
      left: 0;
      position: absolute;
      align-items: center;
      justify-content: center;
      font-size: 120px;
      font-family: $ff-circe;
      font-weight: 500;
      color: $text-color-yellow-light;

      .whom__speaker--unknown & { display: flex; }
    }


  }

  &__paragraph {
    max-width: 615px;
    font-family: $ff-circe;
    font-size: 22.5px;
    font-weight: 500;
    color: $text-color-green-dark;
    line-height: 2;
    text-transform: uppercase;
    margin: 0;
    padding-left: 30px;

    @include respond-to(lg) {
      padding-left: 0;
      max-width: 100%;
    }

    &-line {
      display: block;

      @include respond-to(lg) {
        display: inline-block;
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    &--emphasis {
      font-size: 37.5px;
      line-height: 1.6;
    }



    &--position {
      &--first:not(:last-of-type) {
        margin-bottom: 25px;
      }

      &--second:not(:last-of-type) {
        margin-bottom: 5px;
      }

      &--forth {
        padding-left: 0;

        &:not(:last-of-type) {
          margin-bottom: 0;
        }

        @include respond-to(lg) {
          max-width: 815px;
        }
      }

      &--fifth {
        padding-left: 0;
      }

      &--sixth {
        padding-left: 0;
        max-width: 700px;
      }

    }
  }
}
