body {
  min-width: 500px; }

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0; }

.c-home__logo {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 326px; }
  .c-home__logo--footer {
    max-height: 120px; }

.c-features__img {
  width: 100%;
  max-width: 450px;
  margin: auto;
  height: 270px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; }

.features__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.features__item {
  width: 33.333%;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 40px;
  text-align: center; }
  .features__item p {
    text-align: justify; }
  @media (max-width: 991px) {
    .features__item {
      width: 50%; } }
  @media (max-width: 767px) {
    .features__item {
      width: 100%;
      max-width: 450px; } }

.jobs__list {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  padding-left: 60px; }

.jobs__block {
  margin-bottom: 100px; }

.c-footer {
  padding-bottom: 80px; }

.c-testimonial-cta p {
  padding-left: 20px;
  padding-right: 20px; }

.fss-container {
  position: relative;
  background: #343439; }

.fss {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .fss canvas {
    width: 100%;
    height: 100%; }
  .fss:before {
    position: absolute;
    top: 0;
    left: 0;
    background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0) 50%, #343439 90%);
    width: 100%;
    height: 100%;
    content: ''; }
